echo HomeLab SA-MP Server
lanmode 0
rcon_password ${RCON_PASSWORD}
maxplayers ${MAX_PLAYERS}
port 7777
hostname ${HOSTNAME_}
gamemode0 ${GAMEMODE} 1
filterscripts
announce ${ANNOUNCE}
query 1
weburl ${WEBURL}
gamemodetext ${GAMEMODE_TEXT}
incar_rate 30
weapon_rate 30
player_timeout 10000
stream_distance 300.0
stream_rate 1000
maxnpc 0
logtimeformat [%H:%M:%S]
